*{
    border: 0;
    margin: 0;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: 'Space Mono', monospace;
}
.navegador{
    background-color: black;
    color: white;
    position: fixed;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 5rem;
    z-index: 5;
}
.nombre{
    font-family: 'Lucida Sans';
    margin-left: -100px;
    color: white;
    font-size:xx-large;
}
.navegador>ul{
    display: flex;
    gap: 50px;
    list-style-type: none;
    width: 60%;
    margin: 5px;
}
.navegador>ul>li>a{
    padding: 15px;
    border-radius: 50px;
    text-decoration: none;
    color: ghostwhite;
}
/*ICONOS PA CUANDO PASES EL RATON*/
.navegador>ul>li{
    height: 9vh;
    width:25%;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    float: left;
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: auto 40%;
    border-right: 15px;
    transition: 0.5s;
    padding-top: 5px;
    
}
.iconoP{
    background-image: url(../images/icons/paperclip.png);
}
.iconoP:hover{
    background-image: url(../images/icons/paperclip-hover.png);
    background-color: rgb(141, 17, 194);
    color: white;
    border-radius: 50px;
}
.iconoSM{
    background-image: url(../images/icons/user.png);
}
.iconoSM:hover{
    background-image: url(../images/icons/user-hover.png);
    background-color: rgb(141, 17, 194);
    color: white;
    border-radius: 50px;
}
.iconoC{
    background-image: url(../images/icons/phone.png);
}
.iconoC:hover{
    background-image: url(../images/icons/phone-hover.png);
    background-color: rgb(141, 17, 194);
    color: white;
    border-radius: 50px;
}
.iconoT{
    background-image: url(../images/icons/speech.png);
}
.iconoT:hover{
    background-image: url(../images/icons/speech-hover.png);
    background-color: rgb(141, 17, 194);
    color: white;
    border-radius: 50px;
}
.navegador:hover{
    text-decoration: none;
}
.navegador2{
    top: 35%; 
    left: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 5;
    
}
#home{
    height: 100vh;
    background-image:  linear-gradient(rgba(255, 198, 250, 0.3), rgba(255, 192, 241, 0.3)),url("https://images.pexels.com/photos/2832432/pexels-photo-2832432.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.homecontent>img{
    width: 300px;
    border-radius: 300px;
    border: 5px solid aliceblue;
    
}
.homecontent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    gap: 20px;
}
#portfolio{
    background-color: rgb(201, 143, 255);
    height: 100vh;
        background-image: url("images/fondo1.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
}
.imgtitle{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10%;
}
.imgtitle>div{
    width: 20%;
}
.imgtitle>div>img{
    width: 80%;
    height: 80%;
}
#sobremi{
    background-color: rgb(255, 121, 248);
    height: 100vh;
}
#contactos{
    background-color: rgb(133, 93, 255);
    height: 100vh;
}
#testimonios{
    background-color: rgb(167, 73, 255);
    height: 100vh;
}